---
layout: default
---

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<style>
header {
  font-size: 1.5em;
}

header, section {
  overflow: auto;
}

header h1 {
  margin-top: 1em;
}

.profile_img {
  float: left;
  height: 6em;
  border-radius: 50%;
  margin: 1rem;
}
</style>

<header>
  <img alt="eloyesp" src="{{ "images/profile.jpg" | relative_url }}" class="profile_img">
  <h1>{{ site.author }}</h1>
  <p class="tagline">{{ site.author_title }}</p>
</header>

<section>
  <h1>Experience</h1>

  {% for position in site.data.cv.positions %}
  <section>
    <h3>{{ position.title }} en {{ position.company }}</h3>
    <p>{{ position.started }} - {{ position.finished | default: 'Present' }}</p>
    {{ position.description | markdownify }}
  </section>
  {% endfor %}
</section>

<section>
  <h1>Skills</h1>

  <p>
  {% for skill in site.data.cv.skills %}
  <span class="badge badge-secondary">{{ skill.name }}</span>
  {% endfor %}
  </p>
</section>

<section>
  <h1>Recommendations</h1>

  {% for recommendation in site.data.cv.recommendations %}
  <section>
    <img alt="{{ recommendation.name }}"
         src="{{ "images/profile.jpg" | replace: "profile", recommendation.name | relative_url }}" class="profile_img">
    <blockquote>
      {{ recommendation.text | markdownify }}
      <cite>
        {{ recommendation.name }}
        <small>({{ recommendation.title }} at {{ recommendation.company }})</small>
      </cite>
    </blockquote>
  </section>
  {% endfor %}
</section>

<section>
  <h1>Projects</h1>

  {% for project in site.data.cv.projects %}
  <section>
    <h3>{{ project.title }}</h3>
    <p>{{ project.start }} - {{ project.end | default: 'Present' }}</p>
    {{ project.description | markdownify }}
  </section>
  {% endfor %}
</section>
