<header class="site-header">

  <div class="wrap">

    <h1><a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a></h1>

    <nav class="site-nav">
      <div class="trigger">
        <a class="page-link" href="{{ '/es' | prepend: site.baseurl }}">Español</a>
        <a class="page-link" href="{{ '/en' | prepend: site.baseurl }}">English</a>
        <a class="page-link" href="{{ '/contributions' | prepend: site.baseurl }}">Contributions</a>
        <a class="page-link" href="{{ '/readme' | prepend: site.baseurl }}">Readme</a>
      </div>
    </nav>

  </div>

</header>
